/* Banner */
.banner-slide {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.banner-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 25%, rgba(255, 255, 255, 0.00) 25.48%, #FFF 100%);
    z-index: 2;
}

.banner-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.9);
    position: relative;
    z-index: 1;
}

/* Icon buttons */
.banner-icons {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    max-width: 1200px;
    z-index: 3;
    align-items: start;
}

.banner-icons .icon-box {
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    cursor: pointer;
}

.icon-box img {
    width: 79px;
    height: 79px;
    margin-bottom: 4px;
    /* border: 2px solid #FFF; */
}

/* Responsive Design */


@media (max-width: 992px) {
    .banner-icons {
        top: 40%;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 576px) {
    .banner-icons {
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    .icon-box img {
        width: 50px;
        height: 50px;
    }

    .banner-icons .icon-box {
        font-size: 12px;
    }
}

@media (max-width: 400px) {



    .banner-icons .icon-box {
        font-size: 9px;
        padding: 10px;
    }
}

/* Component dưới banner */
.featured-section {
    border-radius: 20px;
    margin: -250px auto 0;
    position: relative;
    z-index: 10;
}

.bg-featured-section {
    border-radius: 20px;
    background: var(--bg-gradient-2);
}

/* Home specific styles */
